
.screenshot {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 3px;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.11);
}

.screenshot img {
    height:100%;
    width: 100%;
    border-radius: 5px;
}

.screenshotHighlight {
    display: inline-block;
    position: absolute;
    box-shadow: 0px 0px 0px 2000px rgba(0, 0, 0, 0.4);
}

.highlightRect {
    outline: 2px solid #70d5ff;
    /* box-shadow: 0 0 4px 4px #c734d1; */
}
